<div class="netfree-screen" dir="rtl">
  
  <img src="images/netfreelogo.png" alt="NetFree Logo" class="top-logo">

  <div class="text-container">
    <h1 class="oops-title">אופסס..</h1>
    <h2 class="main-subtitle">בדקנו, ולצערנו התוכן באתר זה לא טוב.</h2>
    <a href="https://netfree.link/wiki/%D7%A8%D7%A9%D7%AA%D7%95%D7%AA_%D7%97%D7%91%D7%A8%D7%AA%D7%99%D7%95%D7%AA_%D7%91%D7%A0%D7%98%D7%A4%D7%A8%D7%99" target="_blank" class="info-link">
      לחץ כאן כדי ללמוד על רשתות חברתיות בנטפרי
    </a>
  </div>

  <img src="images/netfree.png" alt="Illustration" class="main-illustration">

  <div class="return-link" (click)="goBack()">
    <i class="pi pi-arrow-right"></i>
    <span>חזרה לאתר</span>
  </div>

</div>